@page "/Initialize"
@using Master.Firstweek.WebApp.Data
@using Master.Firstweek.WebApp.Service
@rendermode InteractiveServer

@inject UserService UserService
@inject BillService BillService

<h3>Initialize</h3>

<button class="btn btn-primary" @onclick="AddUsers">Add users</button>
<button class="btn btn-primary" @onclick="AddBills">Add bills</button>
<br/>
@_result

<table class="table custom-table">
<tbody>
@foreach (var user in _users ?? [])
{
    <tr>
        <td>
                @user.Address
            </td>
            <td>
                <NavLink href="@($"/login/{Uri.EscapeDataString(user.Token)}")" class="nav-link" activeClass="active">
                    @user.Token
                </NavLink>
            </td>
            <td>
                @user.Active
            </td>
            <td>
                <button class="btn btn-primary" @onclick="() => ToggleActive(user)">
                    Toggle Active
                </button>
            </td>
        </tr>
}
        </tbody>
</table>

@code {
    string? _result;
    private List<ApplicationUser>? _users;

    private async Task AddUsers()
    {
        await UserService.AddTestUsersAsync();
        _result = "Users added";
        _users = await UserService.GetUsersAsync();
        StateHasChanged();
    }

    private async Task AddBills()
    {
        await BillService.AddBills();
        _result = "Bills added";
    }

    protected override async Task OnInitializedAsync()
    {
        _users = await UserService.GetUsersAsync();
    }

    private async Task ToggleActive(ApplicationUser user)
    {
        user.Active = !user.Active;
        await UserService.UpdateUserAsync(user);
        _users = await UserService.GetUsersAsync();
    }
}